.rightAnimation
{
    animation: moveRight 0.4s  ease-in-out;
    /*animation: moveRight 0.4s  steps(7,end);*/
    /*animation-iteration-count: 1;*/
    /*transform: translate(42px,0);*/
    background-image: url(image/right.jpg);
}

@keyframes moveRight {
 /*   from 
    {
        transform: translate(0,0);
        background-image: url(image/right.jpg);
    }*/
    /*13% */from
    {
        transform: translate(5px,0);
        background-image: url(image/right1.jpg);
    }
    26% 
    {
        transform: translate(10px,0);
        background-image: url(image/right.jpg);
    }
    39% 
    {
        transform: translate(15px,0);
        background-image: url(image/right2.jpg);
    }
    52% 
    {
        transform: translate(20px,0);
        background-image: url(image/right.jpg);
    }
    65% 
    {
        transform: translate(25px,0);
        background-image: url(image/right1.jpg);
    }
    78% 
    {
        transform: translate(30px,0);
        background-image: url(image/right.jpg);
    }
    91% 
    {
        transform: translate(35px,0);
        background-image: url(image/right2.jpg);
    }
    to 
    {
        transform: translate(42px,0);
        background-image: url(image/right.jpg);
    }
}