table
{
    margin: 100px auto;
    border-collapse: collapse;
}
td
{
    width: 20px;
    height: 20px;
    border: 1px solid black;
    border-collapse: collapse;
}
.wall
{
    background: #000000;
}
.border
{
    background: #000000;
}
.way
{
    background: #2AFF00;
}
#panel
{
    width: 160px;
    margin: 50px auto;
}
#text
{
    width: 50px;
    height: 15px;
}
